<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        .bulma{
            margin: 50px 80px;
        }
    </style>

    <title>Document</title>

</head>
<body>

<div id="root">
    <message title='This is the title' body="This is the body"></message>
    <message title='This is another title' body="This is another body"></message>
</div>


<script src="../js/vue.js"></script>
<script src="main.js"></script>

</body>
</html>