<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

</head>
<body>

<div id="root">
<h2>All Tasks:</h2>
    <ul>
        <li v-for="task in tasks" v-text="task.task"></li>
    </ul>

    <h2>Complete Tasks :</h2>
    <ul>
        <li v-for="task in completeList" >{{task.task}} <button @click="task.Completed=false"> inComplete</button> </li>
    </ul>

    <h2>Incomplete Tasks :</h2>
    <ul>
        <li v-for="task in incompleteList">{{task.task}} <button @click="task.Completed=true"> Complete</button> </li>
    </ul>
</div>


<script src="../js/vue.js"></script>
<script src="main.js"></script>
https://github.com/rabbialrabbi/vue_practice.git

</body>
</html>